# Copyright 2022 the Kubeapps contributors.
# SPDX-License-Identifier: Apache-2.0

---
name: Kubeapps Custodian Rules
on:
  schedule:
    - cron: "0 8 * * *"
env:
  GOOGLE_APPLICATION_CREDENTIALS: key.json
  GCLOUD_CUSTODIAN_KEY: ${{ secrets.GCLOUD_CUSTODIAN_KEY }}
  CLOUDSDK_CORE_PROJECT: ${{ secrets.GOOGLE_CLOUD_PROJECT }}
jobs:
  remove-unattached-disks:
    if: github.repository == 'vmware-tanzu/kubeapps'
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: gscho/setup-cloud-custodian@7ef0768aceae6ab41ee5663fbe62676b2cc562e3 # v1
        with:
          include-gcp: true
      - run: echo $GCLOUD_CUSTODIAN_KEY > $GOOGLE_APPLICATION_CREDENTIALS
      - run: custodian run -s out .github/workflows/custodian-rules/remove-unattached-disks.yaml
